counter-multimeter/build/*
counter-multimeter/.atsuo
counter-multimeter/.vs/
counter-multimeter/Debug/
counter-multimeter/Release/
counter-multimeter/counter-multimeter.atsln
counter-multimeter/counter-multimeter.componentinfo.xml
counter-multimeter/counter-multimeter.cproj
checksum-generator/xor-checksum
checksum-generator/xor_checksum.o
